DB_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true
DB_USER=postgres
DB_PASSWORD=YOUR_SUPABASE_PASSWORD

JWT_SECRET=trinetraSecretKey
JWT_EXPIRATION=86400000
