SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=YOUR_SUPABASE_PASSWORD

SPRING_PROFILES_ACTIVE=production
SERVER_PORT=8080

JWT_SECRET=trinetraSecretKey
JWT_EXPIRATION=86400000
